@import url(https://fonts.googleapis.com/css?family=Arimo:400,700|Abril+Fatface);

body {
  background-color: #f7f7f7;
  font-family: 'Arimo', sans-serif;
}

.collapse,
.navbar-collapse{
  font-family: 'Arimo', sans-serif;
  font-size: 11px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

/*.collapse {
  color: red;
}

.navbar-collapse {
  color: green;
}*/


/*CENTERED TEXT*/
.navbar-nav {
  margin: 8.5px 110px;
}
/*END OF CENTERED TEXT*/
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
}


p {

  align-items: center;
  height: 100%;
  display: flex;
}

.fluid-height {

  height: 100%;
  min-height: 100%;
}

.navbar-inverse {
  background: white;
  font-family: 'Abril Fatface', cursive;
  color: #0000;
  font-size: 15px;
  letter-spacing: 0.2em;

}

/*IMAGE POSITIONING*/

.table-row {
  display: table;
}

.table-cell-text {
width: 44%;
vertical-align: middle;
display: table-cell;
padding: 2%;
}

.table-cell-image {
display: table-cell;
width: 55%;
padding: 3%;
}



/*.red-img {
  border: 1px solid red;
}*/

.goji {
  border: 5px solid blue;
}

/*.goji-berry:hover {
  height: 50%;
  width: 20%;
}*/


/*.table-cell-image .img-responsive:hover{
height:500px;
}
*/
/*END OF IMAGE POSITIONING*/


/*#img1{
height:200px;
}
#img1:hover{
height:400px;
}*/


/*NAVIGATION MENU*/

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: black;
  background-color: #F2F3F5;
}
.navbar-inverse .navbar-text {
  color: black;
}
.navbar-inverse .navbar-nav > li > a {
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: blue; 
  background-color: #F2F3F5;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: gray;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: ##F2F3F5;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
      }
.navbar-inverse .navbar-toggle .icon-bar:hover{
    background-color: white;
      }

/*END OF NAVIGATION MENU*/